<h2><%= @wishlist.name %></h2>
<%= link_to 'Add contributors/commenters', new_wishlist_membership_path(@wishlist.id), class: 'pull-right btn btn-success buttons' %>
<h3>Contributors</h3>
<% if @contributors.empty? %>
	<p>None.</p>
<% else %>
	<% @contributors.each do |contributor| %>
		<div>
			<% if contributor.id != session[:user_id] and @is_contributor %>
				<div class='btn-group'>
						<%= button_to "Delete", wishlist_membership_path(@wishlist.id, contributor.id), method: 'delete', class: 'pull-right btn btn-xs btn-danger buttons' %>
				</div>
			<% end %>
			<%= contributor.name %>
		</div>
	<% end %>
<% end %>
<h3>Commenters</h3>
<% if @commenters.empty? %>
	<p>None.</p>
<% else %>
	<% @commenters.each do |commenter| %>
		<div>
			<div class='btn-group'>
				<%= button_to "Delete", wishlist_membership_path(@wishlist.id, commenter.id), method: 'delete', class: 'pull-right btn btn-xs btn-danger buttons' %>
			</div>
			<%= commenter.name %>
		</div>
	<% end %>
<% end %>
