<% if @user.nil? %>
	<h1>Welcome to the Wishlists App!</h1>
<% else %>
	<h1><%= "Welcome to the Wishlists App, #{@user.name}!" %></h1>
<% end %>
<% if session[:user_id] %>
	<%= link_to "Add item", new_item_path,  class: 'pull-right btn btn-info buttons' %>
	<%= link_to "Add merchant", new_merchant_url, class: 'pull-right btn btn-large btn-info buttons' %>
<% end %>
<h3>Stores (<%= link_to 'Browse', merchants_url %>)</h3>
<ul>
	<% @merchants.each do |merchant| %>
		<li class="inline">
			<%= link_to merchant.name, merchant_path(merchant.id), class: 'btn btn-large btn-primary buttons'%>
		</li>
	<% end %>
</ul>
<h3>Categories (<%= link_to 'Browse', categories_url %>)</h3>
<ul>
	<% @categories.each do |category| %>
		<li class="inline">
			<%= link_to category.name, category_path(category.id), class: 'btn btn-large btn-default buttons'%>
		</li>
	<% end %>
</ul>
<h3>Recent Items</h3>
<% @type = 'main' %>
<%= render 'items/display' %>