<% if session[:user_id] %>
	<div class="form-horizontal">
		<%= form_tag merchant_path(@merchant.id), :method=>'patch' do %>
			<%= label_tag :name %>
			<%= text_field_tag :name, @merchant.name, :class=>'form-control' %>
			<br>
			<%= label_tag :site %>
			<%= text_field_tag :site, @merchant.site, :class=>'form-control' %>
			<br>
			<%= submit_tag "Update merchant", :class=>'btn btn-primary' %>
		<% end %>
	</div>
<% else %>
	<p>Please <%= link_to 'log in', new_session_url %> or <%= link_to 'sign up', new_user_url %> to access this form</p>
<% end %>