<% if session[:user_id] %>
	<div class="form-horizontal">
		<legend>Add a new merchant</legend>
		<%= form_tag merchants_url do %>
			<%= label_tag :name %>
			<%= text_field_tag :name, nil, :class=>'form-control' %>
			<br>
			<%= label_tag :site %>
			<%= text_field_tag :site, nil, :class=>'form-control' %>
			<br>
			<%= submit_tag "Add merchant", :class=>'btn btn-primary' %>
		<% end %>
	<div>
<% else %>
	<p>Please <%= link_to 'log in', new_session_url %> or <%= link_to 'sign up', new_user_url %> to access this form</p>
<% end %>