<div class="form-horizontal">
	<%= form_tag items_url do %>
		<%= label_tag :title %>
		<%= text_field_tag :title, nil, :class=>'form-control' %>
		<br>
		<%= label_tag :price %>
		<%= text_field_tag :price, nil, :class=>'form-control' %>
		<br>
		<%= label_tag :category %>
		<%= collection_select :item, :category_id, Category.all, :id, :name, {}, {class:'dropdown-toggle form-control'} %>
		<br>
		<%= label_tag :merchant %>
		<%= collection_select :item, :merchant_id, Merchant.all, :id, :name, {}, {class:'dropdown-toggle form-control'} %>
		<br>
		<%= label_tag :link %>
		<%= text_field_tag :link, nil, :class=>'form-control' %>
		<br>
		<%= label_tag :image_url %>
		<%= text_field_tag :image_url, nil, :class=>'form-control' %>
		<br>
		<%= label_tag :description %>
		<%= text_area_tag :description, nil, :class=>'form-control' %>
		<br>
		<%= submit_tag "Add item", :class=>'btn btn-primary' %>
	<% end %>
</div>