<% if session[:user_id] %>
	<div class='form-horizontal'>
		<%= form_tag wishlist_path(@wishlist.id), :method=>'patch' do %>
			<%= label_tag :name %>
			<%= text_field_tag :name, @wishlist.name, :class=>'form-control' %>
			<br>
			<%= label_tag :description %>
			<%= text_area_tag :description, @wishlist.description, :class=>'form-control' %>
			<br>
			<%= submit_tag 'Update list', :class=>'btn btn-primary' %>
		<% end %>
	</div>
<% else %>
	<p>Please <%= link_to 'log in', new_session_url %> or <%= link_to 'sign up', new_user_url %> to access this form</p>
<% end %>